
<div>
  <nav class="nav nav-masthead justify-content-center float-md-right mb-4 mt-4">
    <h2 class="navbar-brand">Irezumi Hub</h2>
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="/tattooShops">Tattoo Parlours</a>
      <a class="nav-link" href="/tattooShops/new">Publish New Tattoo Parlour</a>
      <% if(!user) { %>
          <a class="btn btn-success mx-2" href="/login" role="button">Login</a>
          <a class="btn btn-secondary" href="/register" role="button">Register</a>
      <% } else { %>
      <a class="btn btn-danger" href="/logout" role="button">Logout</a>
      <% } %>
  </nav>
</div>